.MyProfile{
    margin: 14px;
    border-radius: 50%; 
	object-fit: cover;
    border: 4px solid;
    border-color: #031de2;


}
.ProfileOption{
    margin-left: 40px;
    display: flex;
    align-items: center;

}