.HeaderOptionList{
    display: flex;
    font-size: 14px;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.MyTask{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.HeaderOption{
    display:flex;
}

.DisplayCulumn{
    display:flex;
    flex-direction: column;
}

.HeaderOption li{
    display: inline;
    padding: 12px;
}

.HeaderOption li:hover{
    padding: 10px;
    border-bottom: 2px solid #333;
}

.SingleTaskList{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    height: 92vh;
    width: 194px;
}
.SingleTaskList:hover{
    border-radius: 5px;
    border: solid 1px gray;
}
.TaskListHead{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}