.AddTaskButton{
    border-color: #F9F8F8;
    border: none;  
    outline: none; 
    width: 256px;
    height: 36px;
    font-size: 14px;
    color:#6D6E6F ;
    border-radius: 0.2em;
    margin: 12px;
    padding: 0 12px;
}
.AddTaskButton:hover{
    border-color: #F0ECEC;
    color:#1E1F21 ;
}

.AddTaskButton:active{
    border-color: #ECE7E8;
    color:#000000 ;
}